version: '3.8'

services:

  api:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/usr/src/app
    entrypoint: ['/usr/src/app/entrypoint.sh']
    ports:
      - 5004:5000
    environment:
      - FLASK_ENV=development
      - APP_SETTINGS=src.config.DevelopmentConfig
      - DATABASE_URL=postgresql://postgresql:postgresql@api-db:5432/api_dev
      - DATABASE_TEST_URL=postgresql://postgressql:postgresql@api-db:5432/api_test
    depends_on:
      - api-db
  
  api-db:
    build:
      context: ./src/db
      dockerfile: Dockerfile
    expose:
      - 5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
